/public/update
/public/storage
/public/uploads
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
.env
.composer.json
/vendor
/public/assets/pdf
/public/assets/pdf_files
/public/assets/notice
/public/assets/images
/public/videos
/public/images
/public/images
db.sql